accelerate==1.13.0
diffusers==0.37.1
faiss-gpu-cu12==1.14.1.post1
ftfy==6.3.1
huggingface_hub==1.11.0
matplotlib==3.11.0
numpy==2.4.4
pandas==3.0.2
peft==0.19.1
pillow==12.2.0
psutil==7.2.2
PyYAML==6.0.3
rank-bm25==0.2.2
regex==2026.4.4
requests==2.33.1
rich==15.0.0
safetensors==0.7.0
scikit-image==0.26.0
scipy==1.18.0
sewar==0.4.8
tokenizers==0.22.2
tqdm==4.67.3
transformers==5.5.4
typer==0.24.1